/config/db_params.php
.nbproject
/template/uploads/*
/template/gallery/large/*
/template/gallery/small/*
*.DS_Store
*.xml
*.properties
nbproject/private/config.properties
nbproject/
/nbproject
/.idea
