/*.fs-upload-target {

	height:200px;
}
.fs-upload.fs-upload-dropping .fs-upload-target {
	border-color:green;
}	
progress {
    border:0;
	width: 50%;
	height: 20px;
	border-radius: 5px;
	background: #f1f1f1;
        border: 1px solid black;
}
progress::-webkit-progress-bar {
	width: 300px;
	height: 20px;
	border-radius: 5px;
	background: #f1f1f1;
        border: 1px solid black;
}

progress::-moz-progress-bar {
    border-radius: 5px;
    border: 1px solid black;
	background: #35b545;
}
li.upload_error progress::-moz-progress-bar{
	background: #ff0000 !important;
}
li.upload_error {
	color:#ff0000
}

li.qwe {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}
.file {
	display: block;
    float: left;
    width: 20%;
}
.progress {
    display:  block;
    float: right;
    text-align: right;
    width: 30%;
}
.upload_ok {
	color:green;
}
li{
    list-style-type: none;
}*/
.fs-upload-target {

	height:200px;
}
.fs-upload.fs-upload-dropping .fs-upload-target {
	border-color:green;
}	
li.qwe{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}
progress {
    border:0;
	width: 40%;
	height: 20px;
	border-radius: 5px;
	background: #f1f1f1;
        border: 1px solid black;
}
.file {
	display: block;
    float: left;
    width: 20%;
}
